.home {
  display: flex;
}
.search{
  width:60%;
}
.product-container {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
  right: 0;
}
.filters {
  background-color: #343a40;
  height: 86vh;
  width: 20%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: 30px 15px;
}
.filter-title {
  font-size: 2rem;
}
.products {
  width: 30%;
  margin: 10px;
}
.cart-item{
  /* width: 500px; */
  padding: 8px;
  display: flex;
  /* justify-content: center;
   */
   align-items: center;
  gap: 10px;
  flex: 1;

}
.cart-item-img {
  width: 25%;
  border-radius:5px;
}
.summary{
  width: 30%;
}
.dropdown-menu{
  width: 260px ;
  margin-top:10px;
  background-color: #DCDCDC;
}
@media (max-width : 771px){
  .filters{
    width: 40%;
    padding: 10px;
    /* margin: 5px; */
  }
  .filter-title{
    font-size: 25px;
  }
  .products{
    width: 45%;
  }
  .search{
    width: 50%;
  }


}
@media(max-width:430px){
  .filters{
    width: 50%;
    padding: 10px;
    margin: 5px;
  }
  .filter-title{
    font-size: 20px;
  }
  .product-container{
    padding:0;
  }
  .products{
    width: 100%;
    margin: 5px;
  }
  .search{
    display: none !important;
  }
  .rating{
    margin: 0 0 5px 15px;
  }
 
}