.home {
  display: flex;
}
.product-container {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
  right: 0;
}
.filters {
  background-color: #343a40;
  height: 86vh;
  width: 20%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin: 30px 15px;
}
.filter-title {
  font-size: 2rem;
}
.products {
  width: 30%;
  margin: 10px;
}
.cart-item{
  /* width: 500px; */
  padding: 8px;
  display: flex;
  /* justify-content: center;
   */
   align-items: center;
  gap: 10px;
  flex: 1;

}
.cart-item-img {
  width: 25%;
  border-radius:5px;
}
.summary{
  width: 30%;
}